* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  max-width: auto;
  margin: auto;
}

.nav_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  z-index: 4;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #fff;
}
.nav_btn > svg {
  fill: #000;
  width: 100%;
  height: 100%;
  position: relative;
}

.form-container {
  display: grid;
  justify-content: center;
  border-radius: 5px;
  background-color: #f1efef;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 13px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 40px;
}

.values-container {
  padding: 10px 50px;
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: rgb(179, 179, 179);
  font-size: 13px;
  padding-bottom: 50px;
}
.contact-us {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.our-values {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 19px;
  font-weight: bold;
}
input[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 130px;
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  font-size: auto;
}

textarea, input { font-family: Helvetica, Arial, sans-serif; }

textarea, select{
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: rgb(49, 49, 49);
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  margin: 20px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  font-size: auto;
}
.nav_btn_left {
  left: 0;
}
.nav_btn_right {
  right: 0;
}

.legend {
  /* font-size: 100px; */
  font-weight: bold;
  padding: 5px 5px;
  margin: 20px;
}
/* 
.slide {
  padding-top: 2rem;
} */

.carousel .thumbs-wrapper {
  display: none;
}
/* .carousel .control-dots {
  z-index: 3;
} */

.ind {
  width: 20px;
  height: 20px;
  list-style: none;
  border: 4px solid #f5f5f5;
  transform: rotate(135deg);
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.ind.active {
  background-color: #000;
  transition: 500ms 200ms;
}

.ind:not(:last-child) {
  margin-right: 1.4rem;
}

.carousel .carousel-status {
  left: 0;
  right: 0;
  text-align: center;
  color: #000;
  font-size: 0;
  text-shadow: none;
  margin-top: 1rem;
  font-weight: 0;
  display: none;
}

body {
  font-family: sans-serif;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

footer {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #ffffff;
  background: rgb(49, 49, 49);
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.footer-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-left: 900px;
  padding: 10px 20px;
  font-size: 10px;
}
/* 
.top-nav {
  float: right;
  justify-content: right;
} */

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 100px;
  font-weight: bold;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 555px;
}

.menu-items {
  position: relative;
  font-size: 14px;
  padding: 5px 10px;
  
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

/* content */

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 20px;
}

.content h2 {
  margin-bottom: 1rem;
}

.content a {
  color: #cc3852;
  margin-right: 10px;
}